@import '~@angular/material/theming';

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 64px;

    > div#wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: stretch;
        //width: 100%; // cant because of div.container

        button.menu-btn {
            margin-right: 10px;
        }

        a.title {
            text-decoration: none;
            color: $dark-primary-text;
        }

        span.spacer {
            flex: 1 auto;
        }

        div.links {
            button.active {

            }
        }

        &.remove-left-padding {
            padding-left: 0;
        }
    }

    > img#logo {
        height: 90%;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }
}
