mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    > div#wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: start;

        button.menu-btn {
            margin-right: 10px;
        }

        span.spacer {
            flex: 1 auto;
        }
    }

    > img#logo {
        height: 90%;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }
}
