<mat-toolbar class="mat-elevation-z3" [class.dark]="global.dark" [color]="global.dark ? 'primary' : 'default'">
    <div [class.container]="!breakpoint.handset || true" [class.remove-left-padding]="breakpoint.handset" id="wrapper">
        <button mat-icon-button class="menu-btn" *ngIf="breakpoint.handset" (click)="global.toggleSideNav()" @menuButtonEntry aria-label="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <a class="title" routerLink="">Adithya Haridas</a>
        <span class="spacer"></span>
        <div class="links" *ngIf="!breakpoint.handset" @linksEntry (@linksEntry.done)="linksAnimDone($event)">
            <button mat-button color="accent" routerLink="resume" routerLinkActive="active" [disabled]="router.isActive('resume')">
                Resume
            </button>
            <button mat-button color="accent" routerLink="portfolio" routerLinkActive="active" [disabled]="router.isActive('portfolio')">
                Portfolio
            </button>
            <button mat-button color="accent" routerLink="contact" routerLinkActive="active" [disabled]="router.isActive('contact')">
                Contact
            </button>
            <button mat-button color="accent" routerLink="links" routerLinkActive="active" [disabled]="router.isActive('links')">
                Links
            </button>
        </div>
    </div>

    <img [src]="global.dark ? '/assets/dumb-logo-dark.svg' : '/assets/dumb-logo.svg'" alt="Logo" id="logo">
</mat-toolbar>
