:host {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

div.container {
    flex: 1 auto;
    padding-bottom: 100px;

    a.contact-link {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 70px 1fr;
        grid-column-gap: 20px;

        justify-content: stretch;
        align-items: center;

        height: 75px;
        padding: 0 20px;
        margin-top: 10px;

        p {
            color: #909090;
        }

        &.error {
            p {
                color: #FF9B9B;
            }
        }

        &:hover {
            //box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.2),
            0 3px 16px 0px rgba(0, 0, 0, 0.14),
            0 1px 20px 0px rgba(0, 0, 0, 0.12);
        }
    }
}
