div#wrapper.container {
    text-align: center;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
    }
    p.subtitle {
        margin-top: 0;
    }
    hr {
        width: 100%;
        max-width: 400px;
        border: 0.5px solid #e9e9e9;
    }
}

.s-muted {
    color: #909090;
}
