// .pdfobject-container {
//     height: 40rem;
//     background: rgba(0, 0, 0, 0.1);
//     // border: 1rem solid rgba(0, 0, 0, .1);
// }

// Incase device does not display PDF inline
#resume-pdf {
    height: 70vh;
    max-height: 40rem;
    background: rgba(0, 0, 0, 0.1);
    color: #909090;

    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    > h2 {
        margin-bottom: 0px;
    }
}

:host {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

div.container {
    flex: 1 auto;
    padding-bottom: 100px;
}

div.actions {
    margin-top: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    p.pdf-warning {
        color: #909090;
        margin: 0 20px 0 0;
        text-align: right;
    }


    &.mobile {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        p.pdf-warning {
            color: #909090;
            margin: 0 0 20px 0;
            text-align: justify;
        }

        a.download {
            display: block;
            width: 100%;
        }
    }
}
