@import "../../theme-colors";

.wrapper {
    background: linear-gradient(to bottom right, #FFAA00, #FFDA1B);
    //background: linear-gradient(to bottom right, map_get($surc-orange, 500), #FFDA1B);
    color: white;
    div.container {
        min-height: 150px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: start;
    }
}
