/* You can add global styles to this file, and also import other style files */


html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.s-title {
    font-size: 54px;

    @media (max-width: 991px) {
        font-size: 32px;
    }

}

.s-subtitle {
    margin-top: -40px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #909090;

    @media (max-width: 991px) {
        margin-top: -20px;
    }
}


* {
    box-sizing: border-box;
    transition: 0.25s;
}
